.ContentRegion {
  height:calc(100vh - 56px);
  width:calc(100% - 250px);

  position:fixed;
  left:250px;
  top:56px;
  padding:2em;
  overflow:scroll;

  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, .125);
}

@media only screen and (max-width: 780px) {
  .ContentRegion {
    transform: translateX(-200px);
    width:calc(100% - 50px);
  }
}
