.SideSecondary:hover {
  color:#007bff;
  text-decoration: none;
}

.SideSecondary {
  color:rgba(0, 0, 0, 0.75);
  background-color: white;
  //color:white;
  border: none;
  text-align: left;
  padding:8px 16px 8px 50px;
  display:block;
  width:250px;

  //transition-timing-function: ease-out;
  //transition-duration: 0.5s;
}
