.SidePrimary:hover {
  color:#007bff;
  text-decoration: none;
}

.SidePrimary {
  color:rgba(0, 0, 0, 0.75);
  background-color: white;
  border: none;
  text-align: left;
  padding:8px 16px 8px 16px;
  display:block;
  width:250px;
}

.SidePrimary:focus {
  outline:none;
}
