@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.Card {
  margin:0.5em;
  opacity: 0;

  border-radius: 0.25em;
  box-shadow: 2px 8px 12px -5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  float:left;

  animation-name: slideUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.Card .banner {
  background-size: cover;
  background-color: #444444;
}

.Card .caption {
  background: white;
  overflow: hidden;
}

.Card .title {
  font-weight: 400;
}

.Card .explore_wrapper {
  height:5.75em;
  background: white;
}

.Card .explore_btn {
  border-radius: 2em;
  padding:0.4em 2em 0.4em 2em
}

.Card .summary {
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

@media only screen and (max-width: 599px) {
  .Card {
    width: calc(100% - 1em);
    height:13.5em;
  }

  .Card .banner {
    width:2.5em;
    height:100%;
    float:left;
  }
  .Card .caption {
    width:100%;
    height:8.1em;
    width:calc(100% - 2.5em);
    padding:1.5em 1.75em 0em 1.5em;
    float:left;
  }

  .Card .explore_wrapper {
    padding: 1.5em 1.5em 1em 1.5em;
    float:left;
    width:calc(100% - 2.5em);
  }

  .Card .title {
    font-size:17pt;
  }
  .Card .summary {
    font-size: 11pt;
  }
}

@media only screen and (min-width: 600px) {
  .Card {
    width: calc(50% - 1em);
    height:21em;
  }

  .Card .banner {
    height:5em;
    width:100%;
  }

  .Card .caption {
    height:10.25em;
    padding:1.75em 1.5em 0em 1.5em;
  }

  .Card .explore_wrapper {
    width:100%;
    padding: 1.5em 1.5em 1.5em 1.5em;
  }
}

@media only screen and (min-width: 1080px) {
  .Card {
    width: calc(33.3333% - 1em);
  }
}

@media only screen and (min-width: 1380px) {
  .Card {
    width: calc(25% - 1em);
  }
}
