.SubtopicsCard {
  margin:0.5em;
  padding:1.5em;

  border-radius: 0.25em;
  box-shadow: 2px 8px 12px -5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  float:left;

  transition: 1s transform, 0.3s color;

  width: calc(100% - 1em);
}

.SubtopicsCard .caption {
  width:100%;
  float:left;
}

.SubtopicsCard .title {
  font-weight: 400;
}

.SubtopicsCard .explore_wrapper {
  text-align: center;
  float:left;
  width:100%;
}

.SubtopicsCard .explore_btn {
  border-radius: 2em;
  padding:0.4em 2em 0.4em 2em;
  margin: 0.5em;
}

.SubtopicsCard .summary {
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-align: justify;
}
